
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("../images/lotus_corner.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.plain_text {
  font-size: calc(22px - 0.25vw);
}

#plain_text {
  font-size: calc(22px - 0.25vw);
}

#white_alpha {
  background-color: rgba(255, 255, 240, 0.7);
}

.white_alpha {
  background-color: rgba(249, 249, 249, 0.8);
}

#white_solid {
  background-color: rgba(255, 255, 255, 1.0);
}

#nav_bar_bg {
  background-color: rgba(50, 50, 50, 0.6);
  font-size: 1.2rem;
  color: rgba(255, 255, 245, 1.0)
}

.headline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 1.0);
}

.headline-about {
  border-bottom: 1px solid rgba(10, 10, 10, 0.6);
  color: rgba(80, 80, 80, 1.0);
}

.text-about {
  color: rgba(10, 10, 10, 1.0);
  font-weight: 500;
}

.headline-about h2,
.headline-about p {
  margin: 0px;
  display: inline-block;
  padding: 0em;
  vertical-align: top;
}

.headline-about p {
  text-align: right;
  float: right;
  padding: 1em;
}

.job-date {
  color: rgba(100, 100, 100, 1.0);
  font-size: 12px;
}

.contact-title {
  color: rgba(35, 35, 35, 1.0);
  font-size: 20px;
}

#project_card_button {
  background-color: rgba(255, 255, 230, 0.6);
  color: rgba(10, 10, 10, 0.8);
}

.special-card {
  background-color: rgba(255, 255, 245, 0.5);
}

.special-card-heading {
  background-color: rgba(255, 255, 245, 1.0);
}
