body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("../images/succulents_bkg.jpg");
  /* background-size: 120%; */
  /* background-attachment: fixed; */
}

#white_alpha {
  background-color: rgba(249, 249, 249, 0.8)
}

#white_solid {
  background-color: rgba(255, 255, 255, 1.0)
}

#nav_bar_bg {
  background-color: rgba(90, 0, 91, 0.6)
}

.headline {
  border-bottom: 1px solid rgba(90, 0, 91, 0.6);
}

.headline h2,
.headline p {
  margin: 0px;
  display: inline-block;
  padding: 1em;
  vertical-align: top;
}

.headline p {
  text-align: right;
  float: right;
  padding: 3em;
}
