{% extends "base.html" %}
{% block content %}

<div class="container-fluid w-85">
  <div class="jumbotron jumbotron rounded-0 " id="white_alpha">

      <div class="headline-about">
        <h2>CONTACT INFO</h2>
        <p></p>
      </div>
      <br>

      <dl class="row text-about p-2">
        <dt class="col-sm-3 plain_text">EMAIL: </dt>
        <dd class="col-sm-9"><a href="mailto:sarahdonehower@gmail.com" class="contact-title">sarahdonehower@gmail.com</a></dd>

        <dt class="col-sm-3 plain_text">LINKEDIN: </dt>
        <dd class="col-sm-9 plain_text"><a href="https://linkedin.com/in/sarahdonehower" class="contact-title">www.linkedin.com/in/sarahdonehower</a></dd>

        <dt class="col-sm-3 plain_text">GITHUB</dt>
        <dd class="col-sm-9"><a href="https://github.com/donehower" class="contact-title">github.com/donehower</a></dd>

      </dl>

  </div>

</div>

{% endblock %}
