{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="jumbotron" id="white_alpha">

      <div class="headline">
        <h2>CONTACT INFO</h2>
        <p></p>
      </div>
      <br>
      <dl class="row">
        <dt class="col-sm-3">Email: </dt>
        <dd class="col-sm-9"><a href="mailto:sarahdonehower@gmail.com" class="contact-title">sarahdonehower@gmail.com</a></dd>

        <dt class="col-sm-3">LinkedIn: </dt>
        <dd class="col-sm-9"><a href="https://linkedin.com/in/sarahdonehower" class="contact-title">www.linkedin.com/in/sarahdonehower</a></dd>

        <dt class="col-sm-3">Git Hub</dt>
        <dd class="col-sm-9"><a href="https://github.com/donehower" class="contact-title">github.com/donehower</a></dd>

      </dl>
  </div>

</div>

{% endblock %}
