{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron" id="white_alpha">

      <div class="headline">
        <h2>CONTACT INFO</h2>
        <p></p>
      </div>
      <br>
      <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="contact-title">Email:</div>
              <div class="contact-title">LinkedIn:</div>
              <div class="contact-title">GitHub:</div>
            </div>
            <div class="col-10">
              <div class="contact-title">sarahdonehower@gmail.com</div>
              <div class="contact-title">www.linkedin.com/in/sarahdonehower</div>
              <div class="contact-title">github.com/donehower</div>
            </div>
          </div>
      </div>

  </div>

</div>

{% endblock %}
