{% extends "base.html" %}
{% block content %}

<div class="container">
  <!-- <div class="jumbotron" id="white_alpha"> -->
    <br>
      <div class="headline">
        <h2 class="light-headline">PROJECTS</h2>
        <p></p>
      </div>
      <br>

      <div class="card special-card rounded-0 mb-3">
        <h5 class="card-header special-card-heading">D3 Visualizations</h5>
        <div class="card-body special-card">
          <h5 class="card-title font-weight-bold">Exploring 28 years of Senate Votes</h5>
          <p class="card-text plain_text">Visualizations of the number and
          outcomes of Senate votes taken since 1989.</p>
          <a href="{{ url_for('core.d3_senate') }}" class="btn font-weight-bold" id="project_card_button">View Dashboard</a>
        </div>
      </div>

      <div class="card special-card rounded-0 mb-3">
        <h5 class="card-header special-card-heading">Web Development</h5>
        <div class="card-body special-card">
          <h5 class="card-title font-weight-bold">www.whatevertheweather.info</h5>
          <p class="card-text plain_text">A site built using Flask that dispays current
          weather conditions as reported through the National Weather Service
          API.</p>
          <a href="https://www.whatevertheweather.info" class="btn font-weight-bold" id="project_card_button">www.whatevertheweather.info</a>
        </div>
      </div>

      <div class="card special-card rounded-0 mb-3">
        <h5 class="card-header special-card-heading">Machine Learning</h5>
        <div class="card-body special-card">
          <h5 class="card-title font-weight-bold">Predicting Political Winners</h5>
          <p class="card-text plain_text">As part of the Predictive Analytics course I
          completed at UCLA, I used PySpark to build models that
          could be used to predict which political candidate would win election. </p>
          <a href="{{ url_for('core.campaign_notebook') }}" class="btn font-weight-bold" id="project_card_button">View Notebook</a>
        </div>
      </div>

      <br>
      <br>




  <!-- </div> -->

</div>

{% endblock %}
